.topc {
  background-color: #FFEDDB;
  margin: 0;
  padding-top: 100px;
}
hr{
  border-style: dashed;
  width:50%;
  color: white;
}
.disp{
  width: 30%;
  font-size:150%;
  margin: auto;
}
h1 {
  font-family: 'Courgette', cursive;
  font-size: 500%;
color: #781D42;
line-height: 2;
  margin: 0;
}
.learner{
  color: #086E7D;
}
.cr{
  color: black;
}
.git{
  width: 50%;
  margin: auto;
}
.lpt{
  width: 50%;
  margin: 10px auto 20px auto;  
}
h2{
  font-family: 'Caveat', cursive;
  font-size: 250%;
  color: #FFEBCC;
font-weight: normal;
margin-top: 30px;

}
h3{
  font-family: 'Permanent Marker', cursive;
  color: #CDF0EA;
  font-size: 150%;
  font-weight:lighter;
  font-stretch: normal;
}
p{
  font-family: josefin sans, cursive;
  color: beige;
  line-height: 2;
  font-size: 125%;
}
.footer-link:hover{
  color: white;
}
.footer-link{
  width:25%;
  margin:auto;
  padding:50px;
}
body {
margin: 0;
text-align: center;
}
.contact-me{
  background-color: #006E7F;
  padding: 20px;

}
.middlec{
  padding-top: 30px;
  background-color: #002B5B;

}
.bottomc{
  padding:  30px;
  background-color: #006E7F;
}
.specs{
  position: relative;
  right:35%;
  bottom: 15px;
  border-radius: 100%;
  height: 15%;
  width: 15%;
}
.codegirl{
  position: relative;
  height: 19%;
  width: 19%;
  border-radius: 100%;
}
.profile{
  padding-top: 20px;
  margin: 50px auto 50px auto;

}
.conhat{
  position: relative;
  left: 35%;
  bottom: 10px;
  height: 17%;
  width:17%;
  border-radius: 100%;
}
.skill-row{
  width:60%;
  margin: 80px auto 80px auto;
  text-align: left;
}
.me{
  border-radius: 100%;
  height: 20%;
  width: 20%;
}
.photography{
  border-radius: 100%;
  float: left;
  margin-right: 30px;
  height: 20%;
  width: 20%;
}
.art{
  border-radius: 100%;
float: right;
margin-left: 30px;
height: 20%;
width: 20%;
}
.btn {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 0;
  -webkit-box-shadow: 4px 4px 8px #666666;
  -moz-box-shadow: 4px 4px 8px #666666;
  box-shadow: 4px 4px 8px #666666;
  font-family: Georgia;
  color: navy;
  font-size: 15px;
  background: white;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: lightblue;
  background-image: -webkit-linear-gradient(top,lightblue , lightblue);
  background-image: -moz-linear-gradient(top, lightblue, lightblue);
  background-image: -ms-linear-gradient(top, lightblue, lightblue);
  background-image: -o-linear-gradient(top, lightblue, lightblue);
  background-image: linear-gradient(to bottom, lightblue, lightblue);
  text-decoration: none;
}
